###### Requirements without Version Specifiers ######`
argparse
easydict
folium
python-ipython
pyyaml
sklearn
torch
torchvision
tensorboardX

###### Requirements with Version Specifiers ######`
munch==2.5.0
