###### Requirements without Version Specifiers ######`
argparse
easydict
folium
ipython
pyyaml
sklearn
torch
torchvision
tensorboardX
ortools
tqdm
haversine

###### Requirements with Version Specifiers ######`
munch==2.5.0
nptyping==1.4.1
